---
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
import FormattedDate from "@/components/FormattedDate.astro";
import { Icon } from "astro-icon/components";
---

<section class="flex flex-col text-center gap-4" >
  <p class="text-pblack">see it for yourself</p>
  <h2 class="text-4xl font-bold">stuff i'm proud to show</h2>
  <ul class="flex flex-wrap justify-center gap-8 py-20">
    {
      posts.map((post) => {
        return (
          <li class="w-72 text-left rounded-none border-1 border-black shadow-card group hover:shadow-hover transition  px-4 py-6 flex flex-col gap-6">
            <a href={`/blog/${post.id}/`} class="flex flex-col gap-4">
              <div
                class="text-4xl p-2 self-start border-1 border-black shadow-card1 group-hover:shadow-card transition"
              >
                <Icon name={post.data.icon} />
              </div>
              <h4 class="text-xl font-semibold">{post.data.title}</h4>
              <p class="date -mt-4 text-sm font-light">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
            <div set:html={post.data.description} />
          </li>
        );
      })
    }
  </ul>
</section>
