---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">["data"];

const {
  title = "",
  description,
  pubDate,
  updatedDate,
  heroImage = "/fran.jpg",
  icon,
  tags,
} = Astro.props;
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')
if (!images[heroImage]) throw new Error(`"${heroImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="p-0 m-0 max-w-screen font-mono lowercase">
    <Header />
    <main class="container mx-auto md:px-10 text-white">
      <article >
        <div class="relative mb-20" transition:animate="fade">
          <span class="bg-black bg-opacity-25 w-full h-full absolute"></span>
          <div class="absolute bottom-10 md:left-20 left-6 z-10">
            <h1 class="text-4xl md:text-9xl font-semibold text-shadow">
              <span class="font-kablamo text-pblack">{title.charAt(0)}</span>{
                title.slice(1)
              }
            </h1>
            <p set:html={description} />
          </div>
          <div class="h-96 bg-black">
            <Image src={images[heroImage]()}  alt={title} class="h-96 w-full object-cover opacity-50 grayscale"/>
          </div>
        </div>
        <div class="text-black px-6 md:px-0">
          <div class="">
            <div class="text-sm text-pblack flex items-center justify-between">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
              <Icon name={icon} class="text-5xl" transition:animate="fade" />
            </div>

            <hr />
          </div>
          <div class="flex justify-between py-10 md:flex-row flex-col">
            <div class="prose md:w-1/2 flex flex-col gap-6">
              <slot />
            </div>
            <div class="flex flex-col gap-6" transition:animate="slide">
              <ul class="flex flex-col gap-2 pt-10 md:pt-0 items-start md:items-end">
                <p class="md:hidden font-semibold">Related:</p>
                {
                  posts.map((post) => {
                    return (
                      <li class=`text-left rounded-none border-1 border-black shadow-card group hover:shadow-hover transition  px-2 py-2` >
                        <a
                          href={`/blog/${post.id}/`}
                        >
                          <h4 >{post.data.title}</h4>
                        </a>
                      </li>
                    );
                  })
                }
              </ul>
              <hr />
              <p>Written by</p>
              <div class="flex -mt-4 gap-2">
                  <div class="bg-pgreen rounded-full w-12 h-12 aspect-square object-contain overflow-hidden ">
                    <Image src={images["/src/assets/hero.png"]()} alt="Victor Nogueira" class="grayscale" />
                  </div>
                  <div>
                  <h3>Victor Nogueira</h3>
                  <p class="text-pblack">software engineer <br/>& entrepreneur</p>
                </div>
              </div>
              <hr/>
              <div>
                <p>Contributors:</p>
                <div class="flex items-center gap-6 text-xl">
                  <a
                    href="https://vmnog.com"
                    target="_blank"
                    class="py-1 pl-3 rounded-none border-1 border-black shadow-card hover:shadow-hover transition"
                  >
                    <Icon name="web" />
                  </a>
                  <a
                    href="https://github.com/vmnog"
                    target="_blank"
                    class="border-1 p-1 size-8 flex items-center justify-center border-black rounded-full shadow-card hover:shadow-hover transition"
                  >
                    <Icon name="github" />
                  </a>
                  <a
                    href="https://www.linkedin.com/in/vmnogueira/"
                    target="_blank"
                    class="border-1 p-1 size-8 flex items-center justify-center border-black rounded-full shadow-card hover:shadow-hover transition"
                  >
                    <Icon name="linkedin" />
                  </a>
                  <a
                    href="https://www.x.com/caraquecoda/"
                    target="_blank"
                    class="size-8 flex items-center justify-center border-1 border-black rounded-full shadow-card hover:shadow-hover transition"
                  >
                    <Icon name="x" class="min-w-28" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
